<%/*
 已弃用！！！
 因为其不支持https协议,二github都是https协议的!
*/%>
<%/* code gen: http://www.bshare.cn/help/installAction */%>
<div class="bshare-custom">
  <a title="分享到微信" class="bshare-weixin"></a>
  <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
  <a title="分享到有道笔记" class="bshare-youdaonote"></a>
  <a title="分享到Evernote" class="bshare-evernote"></a>
  <a title="分享到QQ好友" class="bshare-qqim"></a>
  <!--<a title="分享到电子邮件" class="bshare-email"></a>-->
  <a title="分享到Google书签" class="bshare-bgoogle"></a>
  <!--<a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>-->
</div>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=76754e89-d725-4d85-9219-3739aa03308f&amp;pophcol=1&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
